<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>News. Weather. Hemispheres. Facts and Figures.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Let's Scrape!</a></p>
    </div>
  </div>
  </div>

  <div
    style="padding:10px; margin:10px; border-width: 1px; border-style: solid; border-color: black; background-color: bisque;"
    class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-weight: bold;" class="text-muted">
          Latest News
        </h1>
        <h3 style="font-weight: bold;" class="text-muted">
          {{listings.news.title}}
        </h3>
        <p>
          {{listings.news.description}}
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 style="font-weight: bold;" class="text-muted">
          Featured Image
        </h2>
        <img style="width: 250px;" src={{listings.url_to_featured_image}}>
      </div>

      <div class="col-md-4" style="margin:10px;">
        <h2 style="font-weight: bold" class="text-muted">
          Current Weather
        </h2>
        <p>
          {{listings.weather}}
        </p>
      </div>

      <div class="col-md-4">
        <h2 style="font-weight: bold" class="text-muted">
          Facts and Figures
        </h2>
        {{listings.data_table}}
      </div>
    </div>
  </div>

  <div class="container" style="padding:20px;">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img" width=400p src={{listings.url_to_hemisphere_images[0].img_url}}
            alt="cerberus-hemisphere">
          <div class="card-img-overlay">
            <p class="card-text text-center">
              <h3 style="font-weight: bold;" class="text-muted"><a href={{listings.url_to_hemisphere_images[0].img_url}}
                  target="_blank">{{listings.url_to_hemisphere_images[0].title}}</a>
              </h3>
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <img class="card-img" width=400p src={{listings.url_to_hemisphere_images[1].img_url}}
          alt="chiaparelli-Hemisphere">
        <div class="card-img-overlay">
          <p class="card-text text-center">
            <h3 style="font-weight: bold;" class="text-muted"><a href={{listings.url_to_hemisphere_images[1].img_url}}
                target="_blank">{{listings.url_to_hemisphere_images[1].title}}</a></h3>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img" width=400p src={{listings.url_to_hemisphere_images[2].img_url}}
              alt="Syrtis-Major-Hemisphere">
            <div class="card-img-overlay">
              <p class="card-text text-center">
                <h3 style="font-weight: bold;" class="text-muted"><a
                    href={{listings.url_to_hemisphere_images[2].img_url}}
                    target="_blank">{{listings.url_to_hemisphere_images[2].title}}</a>
                </h3>
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <img class="card-img" width=400p src={{listings.url_to_hemisphere_images[3].img_url}}
            alt="Valles-Marineris-Hemisphere">
          <div class="card-img-overlay">
            <p class="card-text text-center">
              <h3 style="font-weight: bold;" class="text-muted"><a href={{listings.url_to_hemisphere_images[3].img_url}}
                  target="_blank">{{listings.url_to_hemisphere_images[3].title}}</a></h3>
            </p>
          </div>
        </div>
      </div>
</body>

</html>